* {
  font-family: monospace;
  scroll-behavior: smooth; /*baje con calma la pagina*/

}

body {
  margin: 0;
  align-items: center;
  background: linear-gradient(90deg, #FF3131, #FF914D);
  text-align: center;

}



.headerPrincipal {
  display: flex;
  background-color: aliceblue;
  justify-content: center;
  /*Verticalmente en la linea*/
  align-items: center;
  text-align: center;
  /* Horizontalmente */

}

.headerPrincipal img {
  width: 15%;
}

.headerPrincipal i {
  font-size: 40px;
  /*Tamaño de letra*/
  color: #EA5C3A;
  margin-left: 45px;
  /*Espaciado del lado derecho*/
}

.headerPrincipal a {
  font-size: 23px;
  margin: 40px;
  /*Separar algo de algo*/
  padding: 8px;
  color: #545454f2;
  text-decoration: none;
}

.headerPrincipal a:hover {
  background-color: #EA5C3A;
  color: white;
  padding: 8px;
  border-radius: 20px;
  /*Redondea el fondo*/
}
.iniciar-sesion a {
  margin: 0px;
  
}
.iniciar-sesion a:hover{ /*Cuando pasas el mouse encima*/
  
  background-color: transparent;
}
.iniciar-sesion i:hover{ /*Cuando pasas el mouse encima*/
  
  color: #1A1A1A; /*cAMBIAR el color de icono */
}
/*Buscador del header*/

.searchBox {
  display: flex;
  max-width: 230px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background: #EA5C3A;
  border-radius: 50px;
  position: relative;
  margin-left: 90px;
  color: #fff;
  overflow: hidden; /* oculta todo lo de afuera */
}

.searchButton {
  color: white;
  position: absolute;
  right: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--gradient-2, linear-gradient(90deg, rgb(232, 81, 0), #9b0000 100%));
  border: 0;
  display: inline-block;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

/*hover effect*/
button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
  transform: translateY(-3px);
}

/*button pressing effect*/
button:active {
  box-shadow: none;
  transform: translateY(0);
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 20px;
  padding: 24px 46px 24px 26px;
}

.searchInput::-webkit-input-placeholder {
  color: #ebebeb;
  font-size: 17px;
}

.headerPrincipal .searchBox {
  align-items: right;
}


.imagen {
  width: 150px;
  /* Ancho deseado */
  height: auto;
  /* Mantener la proporción original de la imagen */
  transform: translate(0px, 100px);
  /* Mover 20px a la derecha y 10px hacia abajo */
}




.inicio {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.inicio h1 {
  margin-top: 100px;
  /* Mover hacia abajo */
  margin-bottom: 35px;
  /* Mover hacia arriba */
  /*margin-left: 20px;    Mover hacia la derecha */
  /*margin-right: 20px;   Mover hacia la izquierda */
  font-size: 88px;
  /* Ajusta el tamaño del texto según sea necesario */
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.232); /*Agrega una sombra al texto*/
}

.inicio h2 {
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 200px;
  /*Espacio para abajo*/
}

.inicio h3 {

  display: inline;
  /* Tomar el ancho del texto y ocupa solo el ancho del contenido*/
  padding: 20px;
  padding-left: 200px;
  /*Relleno del lado derecho*/
  padding-right: 200px;
  /*Relleno del lado izquierdo*/
  background-color: #f0f0f0;
  /* Color de fondo del contenedor */
  border-radius: 100px;
  /* Bordes redondeados */
  color: #2d2d2d;
  /* Color del texto */
  font-size: 22px;
}

.inicio p {
  margin-top: 105px;
  /*Mandamos lo que hay arriba para más arriba*/
  margin-bottom: 105px;
  /*Mandamos lo que hay abajo para más abajo*/
  color: #f0f0f0;
  font-size: 22px;
  width: 50%;
  transform: translateX(50%);
  /*Mueve en el eje X hacia la mitad*/

}

.categorias h1, .servicios h1 {
  font-size: 58px;
  /* Ajusta el tamaño del texto según sea necesario */
  color: #ffffff;
}
.categorias a:hover{
  background-color: #c62800 ;
}

.tipos {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: center;  /*Centrar el contenido*/
  transform: translateX(50%);
  /*Mueve en el eje X hacia la mitad*/
}

.tipos a {
  font-size: 30px;
  text-decoration: none;
  /*Quita el subrayado*/
  color: #f0f0f0;
  border: solid #f0f0f0;
  /*Contorno*/
  border-radius: 20px;
  padding: 15px;
  /*Relleno*/
  margin: 15px;

}

.tarjetas  {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;  /*Centrar el contenido*/
  transform: translateX(13%);
  /*Mueve en el eje X hacia la mitad*/
}

/*TARJETAS SERVICIO */
.card {
  width: 28em; /*anchura*/
  height: 42.5em; /*altura*/
  background: #232323b0;
  border: solid white;
  transition: 1s ease-in-out;
  clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 19px;
}

.card span {
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
  display: block;
  font-size: 3em;
}
.card h3{
  color: #f0f0f0;
  font-size: 2em;
  margin-top: -5px;
}
.card .info {
  font-weight: 400;
  color: rgb(255, 255, 255);
  display: block;
  text-align: center;
  font-size: 1.4em;
  margin: 1em;
}

.card .img {
  margin: auto;
  margin-top: 20px;
  width: 7.8em;
  height: 6.8em;
  background: white;
  border-radius: 15px;
}

.card .share {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
  font-size: 26px;
  color: #ebebeb  ;
}


.card a {
  color: white;
  transition: .4s ease-in-out;
}

.card a:hover {
  color: #EA5C3A;
}

.card button {
  padding: 0.8em 1.7em;
  display: block;
  margin: auto;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  background: #ffffff;
  color: rgb(0, 0, 0);
  transition: .4s ease-in-out;
  font-size: 18px;
}

.card button:hover {
  background: #da5534;
  color: white;
  cursor: pointer;
}





.wrapper {
  --input-focus: #ff0000;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --bg-color-alt: #ff0000ef;
  --main-color: #323232;
     display: flex; 
     flex-direction: column; 
    align-items: center; 
}
/* switch card */
.switch {
  transform: translateY(-100px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 50px;
  height: 20px;
}

.card-side::before {
  position: absolute;
  content: 'Inicio';
  left: -80px;
  top: 0;
  width: 100px;
  text-decoration: underline;
  color: whitesmoke;
  font-weight: 600;
}

.card-side::after {
  position: absolute;
  content: 'Registrarse';
  left: 50px;
  top: 0;
  width: 100px;
  text-decoration: none;
  color: whitesmoke;
  font-weight: 600;
}

.toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-colorcolor);
  transition: 0.3s;
}

.slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  left: -2px;
  bottom: 2px;
  background-color: var(--bg-color);
  box-shadow: 0 3px 0 var(--main-color);
  transition: 0.3s;
}

.toggle:checked + .slider {
  background-color: var(--input-focus);
}

.toggle:checked + .slider:before {
  transform: translateX(30px);
}

.toggle:checked ~ .card-side:before {
  text-decoration: none;
}

.toggle:checked ~ .card-side:after {
  text-decoration: underline;
}

/* card */ 

.flip-card__inner {
  width: 300px;
  height: 350px;
  position: relative;
  background-color: transparent;
  perspective: 1000px;
    /* width: 100%;
    height: 100%; */
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.toggle:checked ~ .flip-card__inner {
  transform: rotateY(180deg);
}

.toggle:checked ~ .flip-card__front {
  box-shadow: none;
}

.flip-card__front, .flip-card__back {
  padding: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: rgba(250, 250, 250, 0.575);
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.flip-card__back {
  width: 100%;
  transform: rotateY(180deg);
}

.flip-card__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  margin: 20px 0 20px 0;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  color: var(--main-color);
}

.flip-card__input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.flip-card__input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.flip-card__input:focus {
  border: 2px solid var(--input-focus);
}

.flip-card__btn:active, .button-confirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.flip-card__btn {
  margin: 20px 0 20px 0;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
} 




